@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Aluminios Acebar

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #018857;
$tertiary_color: #000;
$background: #f6f6f6;
$border: #c6c6c6;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {}
	.moduletable_to2 {}
}

/* Menu */

.menu_wrap {
	background-color: $tertiary_color;
	.moduletable_me1 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							color: $tertiary_color;
							image: url(moduletable_me1_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background-image: none;
						}
						&.current-menu-item {
							a {
								background-color: $secondary_color;
							}
						}
						a {
							padding: 10px;
							font-size: 12px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								background-color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_me2 {
		width: 254px;
		height: 100px;
		margin-top: -60px;
		padding: 25px 40px 20px 40px;
		background: {
			image: url(moduletable_me2_bg.png);
			position: center;
			repeat: no-repeat;
		}
		position: absolute;
		z-index: 10;
		p {
			margin-bottom: 5px;
			font-size: 10px;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.caption-wrap {
			bottom: 40%;
			background: transparent;
			.caption {
				h3 {
					max-width: 400px;
					margin: 0 auto;
					padding: 10px;
					border: 1px solid #fff;
					font: {
						size: 24px;
						weight: bold;
					}
				}
				a {
					&.button {
						margin: 15px 0 0 0;
						background-color: $tertiary_color;
						font-size: 18px;
						color: #fff;
					}
				}
			}
		}
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 60px 0;
	background: {
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.container {
		padding: 30px;
		background-color: #fff;
		h1 {
			margin-bottom: 20px;
			font-size: 18px;
			color: $secondary_color;
		}
		.asterisk {
			color: red;
		}
		input {
			&.button {
				background-color: $secondary_color;
			}
		}
		.moduletable_le1 {
			/*ul.menu {
				li {
					&.current-menu-item,
					&.current-product-parent {
						a {
							background-color: $secondary_color;
							color: #fff;
						}
					}
					a {
						color: $tertiary_color;
						&:hover {
							background-color: $secondary_color;
							color: #fff;
						}
					}
				}
			}*/
			a {
				&.bellows-target {
					padding: 5px;
					background: $secondary_color !important;
				}
			}
			ul {
				&.bellows-submenu {
					a {
						&.bellows-target {
							padding: 5px;
							background: #fff !important;
						}
					}
				}
			}
		}
		.woocommerce {
			ul.products {
				li {
					margin: 8px;
					padding-top: 10px;
					border: 1px solid $border;
					a {
						display: block;
						h2.woocommerce-loop-product__title {
							padding: 5px;
							background-color: $tertiary_color;
							color: #fff;
							text-align: center;
						}
					}
				}
			}
			a {
				&.add-request-quote-button {
					background-color: $secondary_color;
					color: #fff,
				}
			}
		}
	}
}

.content_1 {
	background-image: url(content_1_bg.jpg);
}

.content_2 {
	background-image: url(content_2_bg.jpg);
}

/* Block 1 */

.block_1 {
	background-color: $background;
	.moduletable_b11 {
		margin-top: -40px;
		position: relative;
		z-index: 10;
		p {
			line-height: 14px;
			a {
				font-size: 12px;
				color: $primary_color;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-top: 20px;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font: {
				size: 12px;
				weight: bold;
			}
			color: $secondary_color;
		}
		#proyectos_slider {
			.owl-item {
				.sa_hover_container {
					a {
						padding: 10px;
						border: 1px solid $border;
						display: block;
					}
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	font-size: 12px;
	color: #fff;
	a {
		color: #fff;
	}
}

.copyright_1 {
	background-color: $tertiary_color;
}

.copyright_2 {
	background-color: $secondary_color;
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}